@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red hat Display", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 550px;
  border: 1px solid #000;
  border-radius: 14px;
}

.card_paragraph {
  text-align: center;
}

.card__payment-button {
  padding: 13px 0;
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  box-shadow: 0 10px 8px -6px hsl(224, 23%, 55%);
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: .75rem;
}